[zk]
10.5.6.31
10.5.6.32
10.5.6.33
10.5.6.34
10.5.6.35

[kafka]
10.5.6.31
10.5.6.32
10.5.6.33
10.5.6.34
10.5.6.35

[hadoop:children]
hadoop-namenode
hadoop-secondarynamenode
hadoop-datanodes
hadoop-rm1
hadoop-rm2

[hadoop-namenode]
10.5.6.31 hostname="master.vfhdfs.com"
[hadoop-secondarynamenode]
10.5.6.32
[hadoop-datanodes]
10.5.6.32 hostname="slave1.vfhdfs.com"
10.5.6.33 hostname="slave2.vfhdfs.com"
10.5.6.34 hostname="slave3.vfhdfs.com"
10.5.6.35 hostname="slave4.vfhdfs.com"

[hadoop-rm1]
10.5.6.31
[hadoop-rm2]
10.5.6.32
